*{
box-sizing: border-box;
max-width: 100%
}
html{
font-family: charter, Cambria, serif;
background: #333333;
color: #cccccc;
font-size: 19.5px;
line-height: 1.45;
text-align: left;
display: inline;
position: static;
max-width: 100%;
margin: 0;
}
body{
max-width: 530px;
margin: auto;
padding: 0px 12px 0px 12px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 100%;
}
h2, h3, h4, h5, h6{
font-size: 19px;
font-weight: bold;
margin-top: 24px;
margin-bottom: 8px;
}
h1{
margin-top: 28px;
margin-bottom: 30px;
font-size: 35px;
}
pre{
margin-top: 50px;
margin-bottom:30px;
max-width: 300px;
overflow: scroll;
}
code{
margin-top: 30px;
margin-bottom: 30px;
max-width: 300px;
font-size: 10px;
}
a{
font-style: italic;
text-decoration: none;
color: #cccccc;
}
a:hover{
color: #aadd99;
}
a:active{
color: #FFcccc;
}
p > a:after{
content: "°";
}
p{
margin-top: 0;
margin-bottom: 1.0em;
}
article, section{
margin-bottom: 10px;
margin-top: 0px;
float: left;
max-width: 850px;
width:100%;
}
img{
image-rendering: crisp-edges;
width: 100%;
margin-top: 10px;
margin-left: 0;
margin-right: 0;
}
figure{
  margin: 30px 0px 30px 0px;
}
figcaption{
font-size: 17.5px
}
nav{
margin: 10px 0 0px 0;
width: 100;
}
nav ul{
padding: 0;
list-style: none;
}
nav li {
margin: 0 0 0.1em 0;
}
sidebar{
margin-top: 0;
}
header{
grid-area: header;
align-items: start;
margin: 0;
}
ul{
margin: 0;
list-style-position: outside;
padding-inline-start: 20px;
}
li {
margin: 0;
margin: 0 0 0.5em 0;
}
.headline{
font-size: 30px;
}
nav{
li{
float: left;
}
a{
color: #cccccc;
display: block;
text-align: center;
}
li:not(:first-child){
padding-left: 20px;
}
}
@media (max-width: 450px){
img{
left: -12px;
width: 100vw;
max-width: none;
position: relative;
margin-right: -12px;
margin-left: 0;
}
}
hr{
width: 100%;
}
