root {
	margin: 25px 25px 25px 25px;
}

.headline {
	font-size: 40px;
}
.indent {
	margin-left: 0.5em;
}

body {
	margin: 25px 25px 25px 25px;
}

p {
 	text-align: left;
  	margin: 0.7em 0 0 0;
}
img {
	margin: 25px;
}

a{
	font-style: italic;
	text-decoration: none;
	color: #83A598
}
html {
	box-sizing: border-box;
  	max-width: 780px;

 	font-family: charter, Cambria, serif;
	background: #3c3836;
	color: #EBDBB2;
	font-size: 20px;
	line-height: 1.3;
	margin: auto;
}

h1 {
	font-size: 21px;
	font-weight: bold;
}

header {
}

footer {
	margin-top: 80px;
	margin-bottom: 30px;
}

article {
	margin: 20px 0 40px 0;
	float: left;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

hr {
	height: 0px;
}

