/*
Colors
Background: #32302F
Text: #D3C6AA
Blue (unvisited links): #7FBBB3
Purple (visited links): #D699B6
Green (accent): #A7C080
Yellow: #DBBC7F
*/
*{
box-sizing: border-box;
}

html{
font-family: charter, Cambria, serif;
background: #32302F;
color: #D3C6AA;
font-size: 22px;
line-height: 1.3;
text-align: left;
display: block;
position: static;
margin: auto;
max-width: 1000px;
}

h1{
font-size: 23px;
font-weight: bold;
}
h2{
font-size: 21px;
font-weight: bold;
}

a{
font-style: italic;
text-decoration: none;
color: #7FBBB3
}
a:visited{
  color: #D699B6;
}
a:hover{
  color: #A7C080;
}
a:active{
  color: #DBBC7F;
} 

p{
margin: 0 0 0.7em 0;
}

article{
margin-bottom: 40px;
float: left;
max-width: 850px;
margin: auto;
}

img{
max-width: 100%;
margin-top: 30px;
margin-bottom: 30px;
}

nav{
font-size: 30px;
}

.filter{
filter: invert(81%) sepia(10%) saturate(571%) hue-rotate(3deg) brightness(102%) contrast(80%);
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  grid-gap: 10px;
}

.wrapper > * {
}

.main-head {
  grid-area: header;
  font-size: 50px;
  font-weight: bold;
  align-items: end;
  display: grid;
  margin-top: 50px;
}
.content {
  grid-area: content;
  max-width: 800px;
}
.main-nav {
  grid-area: nav;
}
.side {
grid-area: sidebar;
text-align: left;
}
.main-footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "footer";
}

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "top-left     header"
      "sidebar      nav"
      "sidebar      content"
      "bottom-left  footer";
  }
  .side {
    grid-area: sidebar;
    text-align: right;
}
/*
@media (min-width: 1000px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "top-left header      header"
      "nav      content     sidebar"
      "nav      content     sidebar"
      "footer   footer      footer";
  }
}
  nav ul {
    flex-direction: column;
  }
}
*/
